--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: DisplayData; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DisplayData" (
    "DATE" timestamp without time zone,
    "Washing Machine" text,
    "PROGRAM" numeric,
    "TIME TO FILL" numeric,
    "TOTAL TIME" numeric,
    "ELEC" numeric,
    "WATER 1" numeric,
    "WATER 2" numeric,
    "GAS" numeric,
    "CHEMICAL" numeric,
    "COST PER KW" numeric,
    "GAS COST" numeric,
    "Water cost" numeric,
    "TOTAL" numeric,
    id integer NOT NULL
);


ALTER TABLE public."DisplayData" OWNER TO postgres;

--
-- Name: DisplayData_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."DisplayData" ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public."DisplayData_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: LaundryApplication_energydata; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LaundryApplication_energydata" (
    id bigint NOT NULL,
    date date,
    meter_name character varying(100),
    value double precision,
    consumption double precision,
    "timestamp" timestamp with time zone
);


ALTER TABLE public."LaundryApplication_energydata" OWNER TO postgres;

--
-- Name: LaundryApplication_energydata_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."LaundryApplication_energydata" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."LaundryApplication_energydata_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: LaundryApplication_parsingschedule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LaundryApplication_parsingschedule" (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    ftp_path character varying(255) NOT NULL,
    frequency character varying(10) NOT NULL,
    every integer NOT NULL,
    week_days character varying(20) NOT NULL,
    day_of_month smallint,
    run_time time without time zone NOT NULL,
    schedule_cron character varying(100) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    last_modified timestamp with time zone NOT NULL,
    created_by_id integer NOT NULL,
    CONSTRAINT "LaundryApplication_parsingschedule_day_of_month_check" CHECK ((day_of_month >= 0)),
    CONSTRAINT "LaundryApplication_parsingschedule_every_check" CHECK ((every >= 0))
);


ALTER TABLE public."LaundryApplication_parsingschedule" OWNER TO postgres;

--
-- Name: LaundryApplication_parsingschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."LaundryApplication_parsingschedule" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."LaundryApplication_parsingschedule_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: LaundryApplication_parsingtask; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LaundryApplication_parsingtask" (
    id uuid NOT NULL,
    status character varying(20) NOT NULL,
    total_files integer NOT NULL,
    processed_files_count integer NOT NULL,
    current_file character varying(255) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    last_updated timestamp with time zone NOT NULL
);


ALTER TABLE public."LaundryApplication_parsingtask" OWNER TO postgres;

--
-- Name: LaundryApplication_processedfile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LaundryApplication_processedfile" (
    id bigint NOT NULL,
    file_name character varying(255) NOT NULL,
    file_type character varying(10) NOT NULL,
    file_path character varying(255) NOT NULL,
    export_time timestamp with time zone NOT NULL,
    status character varying(10) NOT NULL,
    error_message text,
    trigger_source character varying(20) NOT NULL,
    schedule_id bigint,
    task_id uuid
);


ALTER TABLE public."LaundryApplication_processedfile" OWNER TO postgres;

--
-- Name: LaundryApplication_processedfile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."LaundryApplication_processedfile" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."LaundryApplication_processedfile_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: LaundryApplication_profile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LaundryApplication_profile" (
    id bigint NOT NULL,
    role character varying(10) NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public."LaundryApplication_profile" OWNER TO postgres;

--
-- Name: LaundryApplication_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."LaundryApplication_profile" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."LaundryApplication_profile_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: LaundryData; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LaundryData" (
    id integer NOT NULL,
    batchid text,
    "Time" text,
    "Duration" text,
    "Alarms" text,
    "Machine" text,
    "Classification" text,
    "Triggers" text,
    "Device" text,
    abpcost text,
    dosagecost text,
    "Weight" text,
    "Dosings" text,
    "pH" text,
    tempdis text,
    temprange text,
    "Customer" text
);


ALTER TABLE public."LaundryData" OWNER TO postgres;

--
-- Name: LaundryData_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."LaundryData_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."LaundryData_id_seq" OWNER TO postgres;

--
-- Name: LaundryData_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."LaundryData_id_seq" OWNED BY public."LaundryData".id;


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: daily_materials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.daily_materials (
    id integer NOT NULL,
    date date NOT NULL,
    "MaterialNo" integer,
    "MaterialName" character varying(255),
    "Quantity" double precision
);


ALTER TABLE public.daily_materials OWNER TO postgres;

--
-- Name: daily_materials_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.daily_materials ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.daily_materials_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: daily_recipes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.daily_recipes (
    id integer NOT NULL,
    date date NOT NULL,
    "RecipeNo" integer,
    "RecipeName" character varying(255),
    "Total" double precision
);


ALTER TABLE public.daily_recipes OWNER TO postgres;

--
-- Name: daily_recipes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.daily_recipes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.daily_recipes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: oee_daily_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.oee_daily_data (
    id integer NOT NULL,
    date date NOT NULL,
    "TotalProduction" double precision,
    "TotalEmptyOut" double precision,
    "ProductionBatches" integer,
    "EmptyOutBatches" integer
);


ALTER TABLE public.oee_daily_data OWNER TO postgres;

--
-- Name: oee_daily_data_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.oee_daily_data ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.oee_daily_data_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: plant_run_time; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.plant_run_time (
    id integer NOT NULL,
    date date NOT NULL,
    "MixingActive" double precision,
    "Mixer" double precision,
    "Screen" double precision,
    "HotElevator" double precision,
    "Dryer" double precision,
    "BurnerFlameOn" double precision,
    "SlingerForward" double precision,
    "SlingerReverse" double precision,
    "CollectConveyor" double precision,
    "DustBlower" double precision,
    "DustBlowerRotaryValve" double precision
);


ALTER TABLE public.plant_run_time OWNER TO postgres;

--
-- Name: plant_run_time_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.plant_run_time ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.plant_run_time_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: LaundryData id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LaundryData" ALTER COLUMN id SET DEFAULT nextval('public."LaundryData_id_seq"'::regclass);


--
-- Data for Name: DisplayData; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: LaundryApplication_energydata; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LaundryApplication_energydata" (id, date, meter_name, value, consumption, "timestamp") FROM stdin;
\.


--
-- Data for Name: LaundryApplication_parsingschedule; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LaundryApplication_parsingschedule" (id, name, ftp_path, frequency, every, week_days, day_of_month, run_time, schedule_cron, is_active, created_at, last_modified, created_by_id) FROM stdin;
\.


--
-- Data for Name: LaundryApplication_parsingtask; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LaundryApplication_parsingtask" (id, status, total_files, processed_files_count, current_file, created_at, last_updated) FROM stdin;
\.


--
-- Data for Name: LaundryApplication_processedfile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LaundryApplication_processedfile" (id, file_name, file_type, file_path, export_time, status, error_message, trigger_source, schedule_id, task_id) FROM stdin;
\.


--
-- Data for Name: LaundryApplication_profile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LaundryApplication_profile" (id, role, user_id) FROM stdin;
1	Operator	2
2	Operator	3
\.


--
-- Data for Name: LaundryData; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: daily_materials; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.daily_materials (id, date, "MaterialNo", "MaterialName", "Quantity") FROM stdin;
\.


--
-- Data for Name: daily_recipes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.daily_recipes (id, date, "RecipeNo", "RecipeName", "Total") FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2025-04-28 20:52:56.494509-07	3	test	1	[{"added": {}}]	4	2
2	2025-04-28 20:53:20.028677-07	3	test	2	[]	4	2
3	2025-04-28 20:54:29.165549-07	3	test	2	[{"changed": {"fields": ["password"]}}]	4	2
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	LaundryApplication	laundrydata
8	LaundryApplication	batchlog
9	LaundryApplication	dailymaterials
10	LaundryApplication	dailyrecipes
11	LaundryApplication	energydata
12	LaundryApplication	oeedailydata
13	LaundryApplication	parsingschedule
14	LaundryApplication	parsingtask
15	LaundryApplication	plantruntime
16	LaundryApplication	processedfile
17	LaundryApplication	profile
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: oee_daily_data; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.oee_daily_data (id, date, "TotalProduction", "TotalEmptyOut", "ProductionBatches", "EmptyOutBatches") FROM stdin;
\.


--
-- Data for Name: plant_run_time; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.plant_run_time (id, date, "MixingActive", "Mixer", "Screen", "HotElevator", "Dryer", "BurnerFlameOn", "SlingerForward", "SlingerReverse", "CollectConveyor", "DustBlower", "DustBlowerRotaryValve") FROM stdin;
\.


--
-- Name: DisplayData_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."DisplayData_id_seq"', 2448, true);


--
-- Name: LaundryApplication_energydata_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."LaundryApplication_energydata_id_seq"', 1, false);


--
-- Name: LaundryApplication_parsingschedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."LaundryApplication_parsingschedule_id_seq"', 1, false);


--
-- Name: LaundryApplication_processedfile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."LaundryApplication_processedfile_id_seq"', 1, false);


--
-- Name: LaundryApplication_profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."LaundryApplication_profile_id_seq"', 2, true);


--
-- Name: LaundryData_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."LaundryData_id_seq"', 31, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 68, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 3, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: daily_materials_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.daily_materials_id_seq', 1, false);


--
-- Name: daily_recipes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.daily_recipes_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 3, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 17, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 20, true);


--
-- Name: oee_daily_data_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.oee_daily_data_id_seq', 1, false);


--
-- Name: plant_run_time_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.plant_run_time_id_seq', 1, false);


--
-- Name: LaundryApplication_energydata LaundryApplication_energydata_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LaundryApplication_energydata"
    ADD CONSTRAINT "LaundryApplication_energydata_pkey" PRIMARY KEY (id);


--
-- Name: LaundryApplication_parsingschedule LaundryApplication_parsingschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LaundryApplication_parsingschedule"
    ADD CONSTRAINT "LaundryApplication_parsingschedule_pkey" PRIMARY KEY (id);


--
-- Name: LaundryApplication_parsingtask LaundryApplication_parsingtask_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LaundryApplication_parsingtask"
    ADD CONSTRAINT "LaundryApplication_parsingtask_pkey" PRIMARY KEY (id);


--
-- Name: LaundryApplication_processedfile LaundryApplication_processedfile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LaundryApplication_processedfile"
    ADD CONSTRAINT "LaundryApplication_processedfile_pkey" PRIMARY KEY (id);


--
-- Name: LaundryApplication_profile LaundryApplication_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LaundryApplication_profile"
    ADD CONSTRAINT "LaundryApplication_profile_pkey" PRIMARY KEY (id);


--
-- Name: LaundryApplication_profile LaundryApplication_profile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LaundryApplication_profile"
    ADD CONSTRAINT "LaundryApplication_profile_user_id_key" UNIQUE (user_id);


--
-- Name: LaundryData LaundryData_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LaundryData"
    ADD CONSTRAINT "LaundryData_pkey" PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: daily_materials daily_materials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_materials
    ADD CONSTRAINT daily_materials_pkey PRIMARY KEY (id);


--
-- Name: daily_recipes daily_recipes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_recipes
    ADD CONSTRAINT daily_recipes_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: oee_daily_data oee_daily_data_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oee_daily_data
    ADD CONSTRAINT oee_daily_data_pkey PRIMARY KEY (id);


--
-- Name: plant_run_time plant_run_time_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plant_run_time
    ADD CONSTRAINT plant_run_time_pkey PRIMARY KEY (id);


--
-- Name: LaundryAppl_date_624261_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LaundryAppl_date_624261_idx" ON public."LaundryApplication_energydata" USING btree (date, meter_name);


--
-- Name: LaundryApplication_parsingschedule_created_by_id_e4923329; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LaundryApplication_parsingschedule_created_by_id_e4923329" ON public."LaundryApplication_parsingschedule" USING btree (created_by_id);


--
-- Name: LaundryApplication_processedfile_schedule_id_253fa5fb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LaundryApplication_processedfile_schedule_id_253fa5fb" ON public."LaundryApplication_processedfile" USING btree (schedule_id);


--
-- Name: LaundryApplication_processedfile_task_id_233dd2ba; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LaundryApplication_processedfile_task_id_233dd2ba" ON public."LaundryApplication_processedfile" USING btree (task_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: LaundryApplication_parsingschedule LaundryApplication_p_created_by_id_e4923329_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LaundryApplication_parsingschedule"
    ADD CONSTRAINT "LaundryApplication_p_created_by_id_e4923329_fk_auth_user" FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: LaundryApplication_processedfile LaundryApplication_p_schedule_id_253fa5fb_fk_LaundryAp; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LaundryApplication_processedfile"
    ADD CONSTRAINT "LaundryApplication_p_schedule_id_253fa5fb_fk_LaundryAp" FOREIGN KEY (schedule_id) REFERENCES public."LaundryApplication_parsingschedule"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: LaundryApplication_processedfile LaundryApplication_p_task_id_233dd2ba_fk_LaundryAp; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LaundryApplication_processedfile"
    ADD CONSTRAINT "LaundryApplication_p_task_id_233dd2ba_fk_LaundryAp" FOREIGN KEY (task_id) REFERENCES public."LaundryApplication_parsingtask"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: LaundryApplication_profile LaundryApplication_profile_user_id_d9a1dbcc_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LaundryApplication_profile"
    ADD CONSTRAINT "LaundryApplication_profile_user_id_d9a1dbcc_fk_auth_user_id" FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

